env
out
**/find_promoter_accounts/backup/
**/find_promoter_accounts/user_metadata/
**/find_promoter_accounts/timelines/
**/find_promoter_accounts/nohup.save
**/find_promoter_accounts/nohup_old.out
**/find_promoter_accounts/pa.log
**/find_promoter_accounts/pa.log.save
**/find_promoter_accounts/seen_id_list.txt
**/find_promoter_accounts/nano.save
**/find_promoter_accounts/seen_tweet_list.txt
nohup.out
twarc.log
**/tracking_promoters/promoter_timelines/
**/tracking_promoters/promotee_data/
**/tracking_promoters/pa.log
**/tracking_promoters/twarc.log
